/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body,
#svelte {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Outfit', sans-serif;
	/* font-family: 'Spartan', sans-serif; */
	background-color: var(--c-black-s1);
	font-size: var(--fs-body);
	color: var(--c-white);
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: var(--fs-h1);
	letter-spacing: -1px;
}
h2 {
	font-size: var(--fs-h2);
	letter-spacing: -0.63px;
}
h3 {
	font-size: var(--fs-h3);
	letter-spacing: -0.63px;
}
h4 {
	font-size: var(--fs-h4);
	letter-spacing: -0.25px;
}
h5 {
	font-size: var(--fs-h5);
}
h6 {
	font-size: var(--fs-h6);
}
.title {
	font-size: var(--fs-title);
}
p {
	font-size: var(--fs-body);
	line-height: 140%;
}
span {
	font-size: var(--fs-body);
}
p.spaced {
	line-height: 185%;
}
p.small {
	line-height: auto;
}

/* Global Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 1.5em;
}

/* Design System */
:root {
	/* Colors */
	--c-black-s1: #141414;
	--c-black-s2: #0e0e0e;
	--c-gray-s1: #daddd8;
	--c-gray-s2: #c2c2c2;
	--c-gray-s3: #777777;
	--c-white: #ffffff;

	--c-green: #2bf67c;
	--c-green-s2: #25b05d;
	--c-yellow: #f6f05a;
	--c-red: #f44336;
	--c-blue: #2a62ff;
	--c-orange: #e65100;
	--c-lightblue: #2ecff4;
	--c-yellow: #f6f05a;

	--tran-s1: rgba(255, 255, 255, 0.14);
	--tran-s2: rgba(87, 87, 87, 0.19);

	/* Font Size  */
	--fs-title: 34.84px;
	--fs-h1: 29.03px;
	--fs-h2: 24.19px;
	--fs-h3: 20.16px;
	--fs-h4: 16.08px;
	--fs-h5: 11.67px;
	--fs-h6: 9.72px;
	--fs-body: 14px;
	--fs-body-sm: 12px;

	/* Font Weight */
	--fw-regular: 500;
	--fw-bold: 600;
	--fw-bolder: 700;
	--fw-black: 800;

	/* Border Radius */
	--br-sm: 3px;
	--br-md: 7px;
	--br-lg: 12px;

	--pd-xxs: 0.266rem;
	--pd-xs: 0.43rem;
	--pd-sm: 0.695rem;
	--pd-md: 1.25rem;
	--pd-lg: 1.82rem;
	--pd-xl: 2.945rem;
	--pd-xl2: 4.765rem;
	--pd-xl3: 5.765rem;

	/* Graidents */
	--g-gray: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
}
